<a href="https://colab.research.google.com/github/Dark-sil/student-performance-prediction/blob/main/AI_DA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Marks Prediction Model using Decision Tree Regression model and Random Forest Regression model

By :- SAKET GUPTA (21BPS1611)

In [ ]:
import numpy as np # linear algebraBPS
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
df=pd.read_csv("exams.csv")

In [ ]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
df.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.810000      70.382000      69.140000
std      15.250196      14.107413      15.025917
min      15.000000      25.000000      15.000000
25%      58.000000      61.000000      59.000000
50%      68.000000      70.500000      70.000000
75%      79.250000      80.000000      80.000000
max     100.000000     100.000000     100.000000

In [ ]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
# Converting the categprical features to numerical features
for i in df.columns:
    if df[i].dtype == "object":
        df[i]=df[i].astype('category').cat.codes

In [ ]:
df.dtypes

gender                          int8
race/ethnicity                  int8
parental level of education     int8
lunch                           int8
test preparation course         int8
math score                     int64
reading score                  int64
writing score                  int64
dtype: object

In [ ]:
x = df.drop('writing score',axis=1)
y = df['writing score']

In [ ]:
print(x.shape)
print(y.shape)

(1000, 7)
(1000,)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [ ]:
#model evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

In [ ]:
#Importing algorithms
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
dt_regressor = DecisionTreeRegressor(splitter="best",criterion="friedman_mse")
rf_regressor = RandomForestRegressor(max_depth=8,min_samples_split=.004)

In [ ]:
hyperparameters = {'max_depth': [2, 3, 4, 5, 6],
                   'min_samples_split': [2, 3, 4],
                   'min_samples_leaf': [1, 2, 3]}

grid_cv = GridSearchCV(dt_regressor, hyperparameters, cv=10)

grid_cv.fit(x_train, y_train)

# Get the best model
best_model = grid_cv.best_estimator_

# Use the best model to make predictions on test data
y_pred = best_model.predict(x_test)
r2score = r2_score(y_test,y_pred)*100

#evaluation
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test,y_pred)
mape = mean_absolute_percentage_error(y_test,y_pred)
print("Decision Tree with Grid Search Optimizers")
print("MAE :", mae)
print("RMSE :", rmse)
print("MAPE :",mape)
print('------------------------------')

# r2 score
print(f"Testing r2 Score:", r2score,"%")
print('------------------------------')

Decision Tree with Grid Search Optimizers
MAE : 3.7036613851675133
RMSE : 4.595447149375452
MAPE : 0.05854251801201542
------------------------------
Testing r2 Score: 91.30820784161804 %
------------------------------

In [ ]:
hyperparameters = {'max_depth': [2, 3, 4, 5, 6],
                   'min_samples_split': [2, 3, 4],
                   'min_samples_leaf': [1, 2, 3]}

grid_cv = GridSearchCV(rf_regressor, hyperparameters, cv=10)

grid_cv.fit(x_train, y_train)

# Get the best model
best_model = grid_cv.best_estimator_

# Use the best model to make predictions on test data
y_pred = best_model.predict(x_test)
r2score = r2_score(y_test,y_pred)*100

#evaluation
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test,y_pred)
mape = mean_absolute_percentage_error(y_test,y_pred)
print("Random Forest with Grid Search Optimizers")
print("MAE :", mae)
print("RMSE :", rmse)
print("MAPE :",mape)
print('------------------------------')

# r2 score
print(f"Testing r2 Score:", r2score,"%")
print('------------------------------')

Random Forest with Grid Search Optimizers
MAE : 3.1227122612647156
RMSE : 3.9060652644458567
MAPE : 0.0494643441120995
------------------------------
Testing r2 Score: 93.72038855985417 %
------------------------------